body{
    background-image: url("Werecommend.jpg");
    background: position 100px;
    
}

.loginbox{
    width: 400px;
    height: 560px;
    background: rgba(30, 24, 2, 0.904);
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 100px 10px;
    

}
